<%= form_tag({}) do -%>
<%= hidden_field_tag 'back_url', url_for(params.permit!) %>
<div class="autoscroll">
<table class="list time-entries">
<thead>
<tr>
<!--th class="checkbox hide-when-print">
  <%= link_to image_tag('toggle_check.png'),
    {},
    :onclick => 'toggleIssuesSelection(this); return false;',
    :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
</th-->
<% if !@est_flg -%>
  <%= sort_header_tag('spent_on', :caption => l(:label_date), :default_order => 'desc') %>
  <%= sort_header_tag('user', :caption => l(:label_member)) %>
  <%= sort_header_tag('activity', :caption => l(:label_activity)) %>
  <%= sort_header_tag('project', :caption => l(:label_project)) %>
  <%= sort_header_tag('issue', :caption => l(:label_issue), :default_order => 'desc') %>
  <th><%= l(:field_comments) %></th>
  <%= sort_header_tag('estimated_hours', :caption => l(:field_estimated_hours)) %>
  <%= sort_header_tag('hours', :caption => l(:field_hours)) %>
  <th></th>
<% else -%>
  <%= sort_header_tag('start_date', :caption => l(:label_date), :default_order => 'desc') %>
  <%= sort_header_tag('author', :caption => l(:label_member)) %>
  <th><%= l(:label_activity) %></th>
  <%= sort_header_tag('project', :caption => l(:label_project)) %>
  <%= sort_header_tag('issue', :caption => l(:label_issue), :default_order => 'desc') %>
  <th><%= l(:field_comments) %></th>
  <%= sort_header_tag('estimated_hours', :caption => l(:field_estimated_hours)) %>
  <th><%= l(:field_hours) %></th>
<% end -%>
</tr>
</thead>
<tbody>
<% if !@est_flg -%>
  <% entries.each do |entry| -%>
  <tr class="time-entry <%= cycle("odd", "even") %>">
  <!--td class="checkbox hide-when-print"><%= check_box_tag("ids[]", entry.id, false, :id => nil) %></td-->
  <td class="spent_on"><%= format_date(entry.spent_on) %></td>
  <td class="user"><%= link_to_user(entry.user) %></td>
  <td class="activity"><%=h entry.activity %></td>
  <td class="project"><%= link_to_project(entry.project) %></td>
  <td class="subject">
  <% if entry.issue -%>
    <%= entry.issue.visible? ? link_to_issue(entry.issue, :truncate => 50) : "##{entry.issue.id}" -%>
  <% end -%>
  </td>
  <td class="comments"><%=h entry.comments %></td>
  <td class="hours"><%= html_hours("%.2f" % entry.issue.estimated_hours) if entry.issue && entry.issue.estimated_hours %></td>
  <td class="hours"><%= html_hours("%.2f" % entry.hours) %></td>
  <td align="center">
  <% if entry.editable_by?(User.current) -%>
      <%= link_to image_tag('edit.png'), {:controller => 'estimate_timelog', :action => 'edit', :id => entry, :project_id => nil},
                                         :title => l(:button_edit) %>
      <%= link_to image_tag('delete.png'), {:controller => 'estimate_timelog', :action => 'destroy', :id => entry, :project_id => nil},
                                           :confirm => l(:text_are_you_sure),
                                           :method => :post,
                                           :title => l(:button_delete) %>
  <% end -%>
  </td>
  </tr>
  <% end -%>
<% elsif @est_flg -%>
  <% entries.each do |entry| -%>
  <tr class="time-entry <%= cycle("odd", "even") %> <%= entry.css_classes %>">
  <!--td class="checkbox hide-when-print"><%= check_box_tag("ids[]", entry.id, false, :id => nil) %></td-->
  <td class="spent_on"><%= format_date(entry.start_date) %>  〜 <%= format_date(entry.due_date) %> </td>
  <td class="user"><%= link_to_user(entry.assigned_to) %></td>
  <td class="activity">-</td>
  <td class="project"><%= link_to_project(entry.project) %></td>
  <td class="subject">
      <%= entry.visible? ? link_to_issue(entry, :truncate => 50) : "##{entry.id}" -%>
  </td>
  <td class="comments">-</td>
  <td class="hours"><%= html_hours("%.2f" % entry.estimated_hours) if entry.estimated_hours %></td>
  <td class="hours">-</td>
  </tr>
<% end -%>
<% end -%>
</tbody>
</table>
</div>
<% end -%>



